.header{
    &__logo {
        max-width: 90px;
    }
    &__wrapper {
        display: block;
        margin-top: 5px;
        margin-bottom: 7px;
        margin-left: -15px;
        margin-right: -15px;
        position: relative;
    }
    .align-right {
        text-align: center;
    }
    &__nav {
        display: block;
        margin-top: 15px;
    }
    &__link {
        font-size: 17px;
    }
    &__icon {
        position: absolute;
        top: -50px;
        right: 10px;
        &:nth-child(2){
            right: 60px;
        }
    }
}

.s1 {
    &__footer {
        height: 60px;
    }
}

.s2 {
    background: $white-color;
    padding-top: 86px;
    &__wrapper {
        flex-direction: column;
    }
    &__title {
        font-size: 18px;
    }
    &__left {
        font-size: 15px;
    }
    &__right {
        font-size: 18px;
        line-height: 26px;
    }
}


.s3 {
    padding-top: 140px;
    &__img {
        top: 70%;
    }
    &__price {
        top: 70%;
    }
}