.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

::-moz-selection {
  background: rgba(51, 177, 133, 0.5);
}

::selection {
  background: rgba(51, 177, 133, 0.5);
}

* {
  font-family: "Panton", Serif;
}

.container-fluid {
  max-width: 1920px;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  background: #f7f7f7;
}

.header .container-fluid {
  max-width: 1920px;
}

.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 60px;
}

.header__nav {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.header__item {
  display: inline-block;
}

.header__link, .s1__footer-link {
  color: #919295;
  font-size: 28px;
  padding: 10px 15px;
  border: 1px solid transparent;
  -webkit-border-radius: 15px;
          border-radius: 15px;
}

.header__link:hover, .s1__footer-link:hover, .header__link:active, .s1__footer-link:active, .header__link:focus, .s1__footer-link:focus {
  text-decoration: none;
  color: #000;
  border-color: #000;
}

.header__icon {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icon-link {
  padding: 10px;
  top: -7px;
  position: relative;
  opacity: .5;
}

.header__icon-link:hover {
  opacity: 1;
}

.s1 .owl-carousel {
  position: relative;
}

.s1__slide {
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.s1 .owl-dots {
  position: absolute;
  bottom: 140px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.s1 .owl-dot {
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 5px;
  display: inline-block;
}

.s1 .owl-dot.active {
  background: #fff;
}

.s1 .owl-prev,
.s1 .owl-next {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 77px;
  margin-top: -38px;
}

.s1 .owl-prev {
  left: 30px;
}

.s1 .owl-next {
  right: 30px;
}

.s1__footer {
  background: #fff;
  z-index: 3;
  height: 110px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.s1__footer-link {
  margin: 5px;
}

.s2 {
  background: #fff;
}

.s2__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.s2__title, .s3__title {
  font-size: 31px;
  color: #000;
  text-align: center;
}

.s2__left {
  font-size: 20px;
  color: #000;
  text-align: justify;
  font-weight: 300;
}

.s2__right {
  font-size: 44px;
  line-height: 70px;
  color: #919295;
  text-transform: uppercase;
  font-weight: 700;
}

.s2__padding-top {
  padding-top: 10px;
  margin-left: 50px;
}

.s3 {
  background: #fff;
}

.s3__title {
  font-weight: 100;
}

.s3__link {
  color: #000;
  font-size: 20px;
  border: 1px solid #000;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 10px 15px;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 24px;
  margin-top: 30px;
}

.s3__link:hover, .s3__link:active, .s3__link:focus {
  background: #f7f7f7;
  text-decoration: none;
  color: #000;
}

.s3__img {
  position: absolute;
  right: 0;
  width: 654px;
  height: 857px;
  top: 50%;
  margin-top: -425px;
}

.s3__price {
  display: block;
  position: absolute;
  z-index: 4;
  width: 200px;
  height: 100px;
  top: 50%;
  margin-top: -50px;
  right: 60px;
  font-size: 88px;
  color: #000;
  text-align: right;
}

.s3__price span {
  font-weight: 100;
}

@font-face {
  font-family: 'Panton';
  src: url(../fonts/Panton-Thin.otf);
  font-weight: 100;
}

@font-face {
  font-family: 'Panton';
  src: url(../fonts/Panton-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: 'Panton';
  src: url(../fonts/Panton-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Panton';
  src: url(../fonts/Panton-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'Panton';
  src: url(../fonts/Panton-Black.otf);
  font-weight: 700;
}

@font-face {
  font-family: 'Panton';
  src: url(../fonts/Panton-BlackItalic.otf);
  font-weight: 700;
  font-style: italic;
}

/*# sourceMappingURL=../css/main.css.map */
